
nicegui
uvicorn
fastapi
starlette
httpx
websockets
psutil
python-multipart
beautifulsoup4
aiohttp
aiofiles
numpy
faiss-cpu
rank_bm25
pypdf
pdfplumber
chromadb
requests
colorlog
openai
python-dotenv
tiktoken
tqdm
scipy
pandas
onnxruntime
markdown
bleach

psutil

hf_transfer
